In [3]:
#Normalization is used for Skew distributed data 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [5]:
Data = np.random.uniform(low = 10 , high = 100, size = (1000,2))

In [6]:
df = pd.DataFrame(Data , columns = ['Feature1','Feature2'])
df

      Feature1   Feature2
0    76.961519  99.198576
1    52.649067  65.733077
2    74.825425  66.143699
3    48.496743  61.471185
4    98.176764  94.241279
..         ...        ...
995  72.834437  56.326579
996  29.241397  23.932848
997  77.742281  50.675459
998  97.620163  33.039755
999  49.365356  82.321693

[1000 rows x 2 columns]

In [7]:
min = MinMaxScaler()
Transformed_Data = min.fit_transform(df)

In [8]:
Transformed_Data

array([[0.74815785, 0.99165217],
       [0.47615797, 0.61888312],
       [0.72425991, 0.623457  ],
       ...,
       [0.75689276, 0.45115773],
       [0.97928008, 0.25471528],
       [0.43942088, 0.80366216]])

In [9]:
Transformed_DataFrame = pd.DataFrame(Transformed_Data , columns = ['Feature1','Feature2'])
Transformed_DataFrame

     Feature1  Feature2
0    0.748158  0.991652
1    0.476158  0.618883
2    0.724260  0.623457
3    0.429703  0.571410
4    0.985507  0.936433
..        ...       ...
995  0.701985  0.514105
996  0.214281  0.153274
997  0.756893  0.451158
998  0.979280  0.254715
999  0.439421  0.803662

[1000 rows x 2 columns]